.App {
  text-align: center;
}

.square {
  padding: 16px 19px;
  height: 100%;
  font-size: large;
}
.toggleSquare {
  background-color: rgb(255, 255, 143);
  padding: 16px 19px;
  height: 100%;
  font-size: large;
}

.status {
  font-size: x-large;
  font-weight: bold;
  margin: 10px 0px;
  height: 100%;
  margin-bottom: 20px;
}
.toggleStatus {
  background-color: rgb(255, 255, 143);
  font-size: x-large;
  font-weight: bold;
  margin: 10px 0px;
  height: 100%;
}

.congo{
  color: black;
  height: 100%;
  text-align: center;
  font-size: x-large;
  padding: 0 20%;
}
.congoMessage{
  background-color:rgb(255, 255, 143);
}
.tictactoe{
  height: 100%;
  margin: 10px;
  margin-top: 40px; 
  color: rgb(65, 105, 225);
  text-align:center;
  font-size: xx-large;
}
.tictactoe:hover{
  background-color: rgb(137, 207, 240);
  color: rgb(0, 71, 171);
}
.toggleTicTacToe{
  background-color: rgb(137, 207, 240);
  color: rgb(0, 71, 171);
  height: 100%;
  margin: 10px;
  margin-top: 40px; 
  text-align:center;
  font-size: xx-large;
}
.toggleTicTacToe:hover{
  color: rgb(65, 105, 225);
background-color: inherit;
}
.title{
  float:left;
  width: 40%;
}

body {
  background-color: aquamarine;
}
button:hover{
  background-color: 	rgb(152, 251, 152);
}
li{
  font-size: medium;
}

.board {
  float:left;
  margin: 10px;
  text-align: center;
}
.listbuttons{
  font-weight: 5px;
  font-size:medium;
  margin: 4px;
}
.toggleListButtons{
  background-color: rgb(152, 251, 152);
  font-weight: 5px;
  font-size:medium;
  margin: 4px;
}

<<<<<<< HEAD

.sortBlock{
  float: right;
  width: 50%;
  height: 100%;
}
.sort{
  font-size: large;
  float: left;
  margin: 0;
  margin-left: 40%;
  margin-top: 2%;
  margin-right: 5%;
}
.inc, .dec{
  font-size:x-large;
  margin: 5px;
}

.historiesBlock{
  float:left;
  width: 40%;
}
.history {
  float:left;
  height: 100%;
  margin-left: 15%;
  margin-bottom: 10px;
  /* margin-right: 10px; */
}
.historyHeading{
  margin-left: 35%;
  font-size: large;
}
.movesHistory {
  float:right;
  height: 100%;
}
.movesHistoryHeading{
  text-align: center;
  font-size: large;
}